////////////////////////////////
// refactor
////////////////////////////////

* {
  @include font-smoothing;
}

// default type
html {
  @include body-font;
}

// bold type
strong, b, a,
button, input[type='button'], label {
  @include bold-font;
}

// italic type
em, i {
  @include body-font-italic;
}

// links
a {
  text-decoration: none;
}

// heading type
.heading {
  @include bold-font;
  text-transform: uppercase;
  letter-spacing: 0.25em; // fallback
  letter-spacing: calc(0.2em + 2px); // variable letter-spacing, see http://codepen.io/jamesferrell/pen/EgZrVJ
}

// display type
// note: in main, must be added explicitely via class, so it overwrites heading defaults
.display,
svg text,
h1, h2, h3, h4, h5, h6 {
  @include bold-font;
  letter-spacing: normal;
  text-transform: none;
}


// type size defaults
h1 {
  font-size: $font-xl;

  @media (min-width: $m2) {
    font-size: $font-xxl;
  }
}

h2 {
  font-size: #{ ($font-xl + $font-md) / 2 };

  @media (min-width: $sm2) {
    font-size: $font-xl;
  }
}

h3 {
  font-size: $font-lg;

  @media (min-width: $sm2) {
    font-size: #{ ($font-xl + $font-md) / 2 };
  }
}

p, li    { font-size: $font-lg; }
h4, h5, h6   { font-size: $font-md; }

small,
label,
dd * {
  font-size: $font-sm;

  @media (min-width: $m2) {
    font-size: $font-xs;
  }
}

code {
  font-size: 0.75em;
}


// type size overrides
.font-xxxl {
  font-size: $font-xxl;

  @media (min-width: $m3) {
    font-size: $font-xxxl;
  }
}
.font-xxl {
  font-size: $font-xl;

  @media (min-width: $m2) {
    font-size: $font-xxl;
  }
}
.font-xl  {
  font-size: $font-xl;
}
.font-lg,
.font-lg p,
.font-lg li {
  font-size: $font-lg;
}
.font-md,
.font-md p,
.font-md li {
  font-size: $font-md;
}
.font-sm,
.font-sm p,
.font-sm li {
  font-size: $font-sm;
}
.font-xs,
.font-xs p,
.font-xs li  {
  font-size: $font-xs;
}


// default line-height
main * {
  line-height: 1.5;
}

h1 {
  line-height: 1.136;
}


////////////////////////////////
// legacy
////////////////////////////////

// Line breaks
br {
  display: none;
  line-height: 0;
}

footer br,
table br,
blockquote br,
.vertical-list br {
  display: block; // always be breaking
}

br + br {
  display: none; // in case consecutive <br> tags sneak onto a page, hide all but the first
}

header br {
  @media (min-width: $m1) {
    display: block;
  }
}

.services-container br {
  @media (min-width: $m2) {
    display: block;
  }
}




// table
table {
  margin: 1.5rem auto;

  th {
    vertical-align: bottom;
  }

  th, td {
    padding: 0.25rem 0;
    max-width: 50%;
  }
  th + th,
  td + td {
    padding-left: 1rem;
  }
}

.table-2col {
  th, td {
    &:nth-of-type(2) {
      text-align: center;
    }
  }
}
