////////////////////////////////
// colors
////////////////////////////////

$primary-color: #A7BACF;
$primary-light: #C0CEDD;
$primary-dark:  #2F3C4C;

$secondary-color: #E6DFD7;

$error-color: #D73800;

$raisin:  #23262D;
$white:   #FFFFFF;

$shadow: rgba($raisin, 0.5);
$shadow-subtle : rgba($raisin, 0.25);
$shadow-dark : rgba($raisin, 0.75);

$philo-trash    : #91cb55;
$beacon-blue    : #0065a4;

$facebook-color  : #3b5998;
$twitter-color   : #00aced;
$linkedin-color  : #0077B5;
$google-color    : #DD4B39;
$instagram-color : #f50000;


////////////////////////////////
// font sizes
////////////////////////////////

$font-xxxl: 2.20rem; // 44px
$font-xxl:  1.85rem; // 37px
$font-xl:   1.55rem; // 31px
$font-lg:   1.30rem; // 26px
$font-md:   1.05rem; // 21px
$font-sm:   0.90rem; // 18px
$font-xs:   0.75rem; // 15px


////////////////////////////////
// measurements
////////////////////////////////

$stroke-thin: 1px;
$stroke-width: 2px;
$stroke-thick: 4px;

$gutter: 1rem;
$max-container-width: 64rem;

$nav-height: 2.45rem; // 49px

$thumb-width: 8rem; // 160px
$thumb-height: 6rem; // 120px

$radius: 2px;
$radius-lg: 6px;

// limit line lenghts
$max-length-display: 50em;
$max-length-body: 40em;


////////////////////////////////
// breakpoints
////////////////////////////////

$sm1:  20em;      // 320px;
$sm2:  30em;      // 480px;

 $m1:  40em;      // 640px;
 $m2:  56.25em;   // 900px;
 $m3:  64em;      // 1024px;

 $l1:  80em;      // 1280px;
 $l2:  90em;      // 1400px;
 $l3:  100em;     // 1600px;
