////////////////////////////////
// colors
////////////////////////////////

$primary-color: #A7BACF;
$primary-light: #C0CEDD;
$primary-dark:  #2F3C4C;

$secondary-color: #6dbfac;

$error-color: #D73800;

$raisin:  #23262D;
$white:   #FFFFFF;

$shadow: rgba($raisin, 0.5);
$shadow-subtle : rgba($raisin, 0.25);
$shadow-dark : rgba($raisin, 0.75);

$philo-trash    : #91cb55;
$beacon-blue    : #0065a4;

$facebook-color  : #3b5998;
$twitter-color   : #00aced;
$linkedin-color  : #0077B5;
$google-color    : #DD4B39;
$instagram-color : #f50000;


////////////////////////////////
// font sizes
////////////////////////////////

$giga:    4.00rem; // 80px
$alpha:   2.75rem; // 60px
$beta:    2.00rem; // 40px
$gamma:   1.25rem; // 20px
$delta:   1.00rem; // 20px
$epsilon: 0.85rem; // use sparingly!
$milli:   0.75rem; // 14px


////////////////////////////////
// measurements
////////////////////////////////

$stroke-thin: 1px;
$stroke-width: 2px;
$stroke-thick: 0.25rem;

$gutter: 1rem;
$max-container-width: 64rem;

$nav-height: 2.45rem; // 49px

$thumb-width: 8rem; // 160px
$thumb-height: 6rem; // 120px

$radius: 2px;

// limit line lenghts
$max-length-display: 50em;
$max-length-body: 40em;


////////////////////////////////
// breakpoints
////////////////////////////////

$sm1:  20em;      // 320px;
$sm2:  30em;      // 480px;

 $m1:  40em;      // 640px;
 $m2:  56.25em;   // 900px;
 $m3:  64em;      // 1024px;

 $l1:  80em;      // 1280px;
 $l2:  90em;      // 1400px;
 $l3:  100em;     // 1600px;
