.footer {
  background-color: $secondary-color;
}

.footer a {
  color: $primary-dark;
}

.footer-social {
  top: -0.375em;
}

.footer-contact-link-text {
  display: inline-block;
  top: -1px;
  margin-left: 0.375em;
}

.footer-contact-link:hover .footer-contact-link-text,
.footer-contact-link:focus .footer-contact-link-text {
  text-decoration: underline;
}

.footer-social-item:not(:last-child) {
  margin-right: 0.5em;
}
