////////////////////////////////
// global
////////////////////////////////

// main container
.header {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: 24.5rem;
  z-index: 12;
  overflow: hidden;
}

// row
.header-row {
  z-index: 1;
}

// make subhead span act like a div
.header-subhead {
  display: block;
}

// scale blog title to viewport
.blog-title {
  font-size: #{ ($font-xl + $font-lg) / 2 };

  @media (min-width: $sm2) {
    font-size: 5vw;
  }
  @media (min-width: $m3) {
    font-size: $font-xxl;
  }
}

// hero image container
.hero {
  @include absolute-expand;
  top: 0;
  z-index: -1;
}

.header-headline,
.home-header-subhead {
  text-shadow: 0 2px 0.75em rgba($raisin, 0.9);
}

// hero image
.hero-img {
  @include absolute-expand;
  object-fit: cover;
  object-position: 40% 50%;
}

// overrides
body.work .hero-img {
  background-position: 50% 50%;
}

body.digital-hands .hero-img {
  background-position: 50% 12.5%;
}

body.contact .hero-img {
  background-position: 33% 50%;
}

.header-headline,
.header-subhead {
  color: $white;
}

////////////////////////////////
// home page
////////////////////////////////

.home-header {
  background: $primary-color linear-gradient(180deg, $primary-color 0%, #EBE6DB 40%, #E0D6BF 70%, #7F7770 100%);
  align-items: flex-end;
}

.home-header .hero {
  animation: scaleDown 1s ease-out;
}

.home-header-wrapper {
  display: flex;

  & > * {
    margin: auto auto 1.5rem auto;

    @media screen and (min-width: $m1) {
      margin-bottom: 2rem;
    }
  }
}


////////////////////////////////
// project page header
////////////////////////////////

.work-header {
  @include flex-vertical-center;
  max-height: 100vh;
  min-height: 8rem;
  min-height: calc(5rem + 20vw);
  overflow: hidden;
  // account for fixed-width navbar
  @media (min-width: $m3) and (min-height: $sm2) {
    margin-top: $nav-height;
  }
}

.work-hero {
  top: 0;
  margin-top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.work-headline-container {
  @include vertical-center;
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.work-headline {
  top: -0.5rem;

  // positioning overrides
  &.beacon-headline {
    top: 0.25rem;
  }
  &.half-half-half-half-half-marathon-headline {
    top: 0;
  }
}

.work-headline-logo {
  max-width: 25%;

}


////////////////////////////////
// contact page header
////////////////////////////////

body.contact .header {
  @include brand-gradient;

  &:hover .hero {
    opacity: 0.5;
    transform: scale(1.025);
  }
  &:hover .header-headline {
    @include longer-shadow;
  }
}

.contact-header-link {
  @include absolute-expand;
  z-index: 10;

  &:focus {
    background: none;
  }
}
