////////////////////////////////
// container
////////////////////////////////

// nav container
.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  background-color: $white;
  @include box-shadow(rgba($raisin, 0.1));

  // only nav on work detail pages
  .work.depth-2 & {
    z-index: 13;
  }
}

// nav element
.nav-main {
  height: $nav-height;

  // base style for nav elements
  * {
    text-transform: uppercase;
    color: $raisin;
  }
}


////////////////////////////////
// logo
////////////////////////////////

// logo
.nav-logo {
  float: left;
  height: $nav-height;
  padding-left: $gutter;
  padding-right: $gutter;
  left: -($gutter);

  // svg positioning
  svg, image {
    margin-top: #{$nav-height / 3.5}; // fudged
    height: auto;
    width: 6.85rem;
    top: 0;
  }
}

// not active page
.nav-logo {
  svg path {
    fill: $raisin;
  }

  // standard
  &:hover,
  &:focus,
  &:active {
    svg path {
      fill: $primary-dark;
    }
  }
}

////////////////////////////////
// main nav list
////////////////////////////////

// nav list
.nav-list {
  float: right;
  right: -0.5em;
}

// nav items
.nav-item {
  width: auto;
  display: inline-block;
}

// nav links
.nav-link {
  display: block;
  line-height: $nav-height; // vertically center
  color: $primary-color;
  padding: 0 0.5rem;

  &:hover, &:focus, &:active {
    color: rgba($primary-dark, 0.9);
  }

  // active page
  &.is-active-pg {
    color: $primary-dark;
  }
}


////////////////////////////////
// dropdown menu
////////////////////////////////

// dropdown menu
.dropdown {
  @include dropdown-hidden;
  display: none; // hide on smaller screens

  // show on bigger screens
  @media (min-width: $m2) {
    display: inline-block;
    position: absolute;
    top: $nav-height;
    left: -1rem;
  }
}

// states
@media (min-width: $m2) {
  // reveal dropdown menu when hovering/focusing parent
  .dropdown:hover,
  .nav-item:hover .dropdown,
  // If the item has a dropdown and the link is focused, target the adjacent dropdown menu
  .has-dropdown .nav-link:focus + .dropdown,
  .nav-link:focus + .dropdown,
  // .is-focused class, added to .dropdown on focus via js
  .dropdown.is-focused {
    @include dropdown-visible;
  }
}

// dropdown link style
.dropdown-link {
  display: block; // respect padding
  background: $raisin;
  color: $white;
  line-height: 2rem;
  padding: 0.125rem 1.5rem 0.25rem;

  // default
  &:hover, &:active, &:focus {
    background: $primary-dark;
  }

  // active page
  &.is-active-pg {
    background: $raisin;
  }

}





////////////////////////////////
// nav menu toggle
////////////////////////////////

// expanded menu via js
.nav-list.is-expanded {
  @include dropdown-visible;
}

// menu toggle
.nav-toggle {
  position: absolute;
  float: right;
  height: $nav-height;
  padding: ($gutter * 0.45) $gutter 0 $gutter; // somewhat fudged
  right: 0;

  &-text {
    font-size: $font-md;
  }

  // active state theming
  &.is-active {
    background: $raisin;

    .hamburger-bun {
      background: $white;
    }
    .nav-toggle-text {
      color: $white;
    }

  }

  // hide on large screens
  @media (min-width: $m2) {
    display: none;
  }
}

// humburger icon
.hamburger {
  display: inline-block;
  margin-right: 0.25rem;

  // initial state
  &-bun {
    display: block;
    width: ($stroke-width * 9);
    height: $stroke-width;
    border-radius: 1px;
    background: $raisin;

    & + & {
      margin-top: ($stroke-width * 1.5);
    }
  }

  // active state
  &.is-active {
    transform: translateX(5px);

    .hamburger-bun-top {
      transform: rotateZ(45deg) translateY(#{$stroke-width * 3.5});
    }
    .hamburger-bun-patty {
      opacity: 0;
    }
    .hamburger-bun-bottom {
      transform: rotateZ(-45deg) translateY(-#{$stroke-width * 3.5});
    }
  }
}


////////////////////////////////
// skip link
////////////////////////////////

// skip link
a.skip {
  top: $nav-height + ($gutter / 2); // position under nav bar
  z-index: 8;
  transform: translateX(-100%);
}
.skip:focus {
  clip: auto;
  height: auto;
  width: auto;
  overflow: visible;
  transform: none;
}
