// wrapper
.announcement-wrapper {
  @include absolute-expand;
  position: fixed;
  background: rgba($raisin, 0.85);
  z-index: 999; // inentionally excessive

  &.is-hidden {
    display: none !important;
  }

  &.is-visible > .announcement {
    opacity: 1;
  }
}

// modal
.announcement {
  @include absolute-center;
  width: 85%;
  padding: $gutter * 2;
  max-width: $m1;
  background: $white;
}

h1:focus {
  background: $raisin;
}


// override button lowercase rule
.announcement-dismiss {
  text-transform: none !important;
}
