////////////////////////////////
// refactor
////////////////////////////////

// OG button
.button {
  @include button-base;

  &:hover, &:focus {
    border-color: $primary-light;
    transform: translateY(-1px);
    box-shadow: 0 $stroke-width 0 0 $primary-color;
  }
  &:active {
    background-color: $primary-color;
    border-color: $primary-color;
    box-shadow: none;
    transform: none;
  }
}


////////////////////////////////
// legacy
////////////////////////////////

// TODO: rename this nonsense
.content-button {
  display: block;
  overflow: hidden;
  padding: 0.75rem 1rem;

  &:active, &:focus {
    z-index: 10;
  }
}

.grid-2,
.blogs .row {

  @media (min-width: $m3) {
    .blog-thumb {
      opacity: 0.9;
    }

    &:hover,
    &:active,
    &:focus {

      .blog-thumb {
        opacity: 1;
      }
    }
  }
}
