////////////////////////////////
// refactor
////////////////////////////////

// cards
.card {
  margin-bottom: $gutter * 2; // typically followed by a button
}


// thumbnail and caption alignment
.card-thumb,
.card-caption {
  display: inline-block;
  vertical-align: middle;
}


// thumbnail image size
.card-thumb {
  @include brand-gradient;

  // extend clickable zone
  &:after {
    @include pseudo;
    position: absolute;
    width: $gutter;
    height: 100%;
    top: 0;
    left: 100%;
    z-index: 1;
  }

  &:hover .card-img {
    opacity: 0.375;
  }

  // hovering image triggers adjacent title
  &:hover + .card-caption > .card-title {
    color: $secondary-color;
  }
}

// image size
.card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


// caption positioning
.card-caption {
  margin-top: 0;
  padding-left: $gutter;
  width: calc(100% - #{($thumb-width / 2)}); // don't be wrapping

  // don't be wrapping when the thumbnail scales up
  @media (min-width: $m1) {
    width: calc(100% - #{$thumb-width + ( $gutter * 2 )});
  }
}

// stop .card-title from inheriting parent line-height by changing it to a block element ¯\_(ツ)_/¯
.card-title {
  display: block;
}


// small screen treatment
@media (max-width: $m1 - 0.001) {
  .card-title {
    font-size: $font-md * 1.25; // when 6 font sizes aren't enough :/
  }
  .card-meta {
    display: none;
  }
}


////////////////////////////////
// blog card
////////////////////////////////

.blog-card-thumb {
  width: $thumb-width / 2;
  height: $thumb-height / 2;

  // scale up
  @media (min-width: $m1) {
    width: $thumb-width;
    height: $thumb-height;
  }
}

// svg icon
.card-icon {
  display: inline-block;
  vertical-align: middle;
  top: -0.125em;
}

.card-meta-link:hover,
.card-meta-link:focus {
  > .card-icon {
    transform: scale(1.1);
  }

  > .card-icon path,
  > .card-icon circle,
  > .card-icon g {
    fill: $secondary-color;
  }
}

.card-meta-link:active  {
  > .card-icon path,
  > .card-icon circle {
    fill: $primary-dark;
  }
}

.card-meta {
  font-size: $font-sm;
}

////////////////////////////////
// berman140 card
////////////////////////////////

// card alignment
.b140-card:last-of-type {
  margin-bottom: 0;
}
.b140-card + .b140-card {
  margin-top: 2rem;
}

// image treatment
.b140-card-thumb {
  @include box-shadow;
  width: $thumb-width / 4;
  height: $thumb-width / 4;
  overflow: hidden;
  vertical-align: top;

  // scale up
  @media (min-width: $m1) {
    width: $thumb-width / 2;
    height: $thumb-width / 2;
  }

  // enforce roundness on container images
  &, .card-img {
    border-radius: 50%;
  }

  // hover treatment
  &:hover, &:active, &:focus {
    @include box-shadow-lg;
    transform: scale(1.125);

    + .card-caption > .card-caption-name {
      color: $primary-color;
    }
  }
}

// caption
.b140-card-caption {
  width: calc(100% - #{($thumb-width / 4)}); // don't be wrapping

  // don't be wrapping when the thumbnail scales up
  @media (min-width: $m1) {
    width: calc(100% - #{($thumb-width / 2) + ( $gutter * 2 )});
  }
}

// override hover effect
.person-card-thumb,
.b140-card-thumb {
  background: $white;

  &:hover .card-img {
    opacity: 1; // override default
  }
}



////////////////////////////////
// person card
////////////////////////////////
/*
.person-card-thumb {
  @include box-shadow;
  width: $thumb-width / 2;
  height: $thumb-width / 2;
  overflow: hidden;

  // scale up
  @media (min-width: $m1) {
    width: $thumb-width;
    height: $thumb-width;
  }

  // enforce roundness on container images
  &, .card-img {
    border-radius: 50%;
  }
}

// hover img, default state
.card-img-hover {
  position: absolute;
  top: 0;
  opacity: 0;
}

// hover state
.person-card-thumb:hover .card-img-hover {
  opacity: 1;
}

.people .card:last-of-type {
  margin-bottom: 0;
}
*/
