.blog article h2,
.blog article h3,
.blog article h2 > a {
  @extend .display;
}

// alignment adjustments
body.blog-list ul.blog-list { // increase specificity. TODO: namespacing for body classes
  margin-top: -($gutter / 2);
  margin-bottom: -$gutter;

  @media (min-width: $m2) {
    margin-top: $gutter;
  }
}
